.container{
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

h1,h2,h3,h4,h5{
    color:  #FF4500;
    font-weight: 100;
}

p{
    color: #FF1493;
}

h1{
    text-shadow: 2px 2px 4px #FF1493;
    font-size: 5vw;
}

h2{
    font-size: 4vw;
}

h3{
    font-size: 3vw;
}

h4, a{
    font-size: 1.5vw;
}

h5, p{
    font-size: 1vw;
}

hr {
    height: 1px;
    background-color:  #FF4500;
}

#logo{
    width:10vw;
    margin-top:2vw;
}

.col-md-6{
    margin-top: 3em;
}

#banner{
    display: block;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.project{
    border: 2px solid #FF4500;
    border-radius: 25px;
    margin-top: 10px;
}

@media screen and (max-width: 991px) {
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    h1,h2,h3,h4,h5{
        text-align: center;
    }
}

